<link rel="stylesheet" href="/css/chat.css">
<h2>CHAT</h2>
<div>
<ul id="messages"></ul>
<form id="form" action="">
    <input id="input" autocomplete="off" /><button>Send</button>
</form>
</div>

<br>
