<h1>Olá <%=nomeJogador%>!</h1>

    <a href="/jogoV3/">Voltar ao Pré-lobby</a>
    &nbsp; &nbsp;

    Jogador VIP: 
    
    <strong>
        <%=vip%>
    </strong>
    
    <% if(vip === "Não"){ %>
        
        &nbsp; &nbsp;
        <a href="/pagamento/">COMPRAR PASSE VIP AGORA!</a>

    <% } %>

    <br>

    Quantidade de Jogadores Online: 
    
    <strong>
        <span id="jogOnline">
            <%=jogOnline%>
        </span>
    </strong>
    <br>

    Quantidade de Jogadores no Multiplayer: 
    
    <strong>
        <span id="jogMult">
            <%=jogMult%>
        </span>
    </strong>

<hr>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>
<script type="text/javascript" src="/src/game/start.js"></script>