<h2>
    JOGADORES
</h2>

<div id="listaJogadores">

    <ol>
        <li>
            Peão: <strong style="color:red">Vermelho</strong> - 
            <span id="jogadorUm">
                Aguardando...
            </span>
        </li>
        <li>            
            Peão: <strong style="color:blue">Azul</strong> - 
            <span id="jogadorDois">
                Aguardando...
            </span>
        </li>
        <li>
            <button onclick="iniciar()">
                INICIAR JOGO AGORA ou PRÓXIMA PERGUNTA!
            </button>
        </li>
    </ol>

    
</div>