<h2>
    JOGADORES
</h2>

<div id="listaJogadores">
    
    <div>
        Quantidade de Jogadores Online: 
    
        <strong>
            <span id="qtdJogFront">
                <%=qtdJogadores%>
            </span>
        </strong>

    </div>

    <ol>
        <li>Nome do Jogador #1: <span id="jogadorUm">XXX</span>  |  Cor do Peão: <strong><%=corPeao%></strong></li>
        <li>Nome do Jogador #2: <span id="jogadorDois">XXX</span>   |   Cor do Peão: <strong><%=corPeao%></strong></li>
    </ol>

    
</div>