<head>
  <link rel="stylesheet" href="/css/tabuleiro.css">

</head>

<body>

  <a href="/jogoV3/">Voltar ao Pré-lobby</a><br><br>

  <canvas id="canvas" width="1000rem" height="1000rem" style="background-color:#333">
  </canvas>

</body>


<script src="/src/tabuleiro.js"></script>
