
<body>
  <%- include('header'); %>
  <%- include('voltar'); %>

  <br>

  <%- include('tabuleiro'); %>
  
  <br>

  <%- include('perguntas'); %>

  <br>

  <hr>
  <h2>CHAT</h2>

  <div>
    <ul id="messages"></ul>
    <form id="form" action="">
      <input id="input" autocomplete="off" /><button>Send</button>
    </form>
  </div>

  <br>


</body>


<script src="/src/tabuleiro.js"></script>
