<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/base.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>


<%- include('header'); %>

<div class="base">
    <div class="jogo">
        <%- include('jogadores'); %>
        <%- include('perguntasM'); %>
    </div>
    <div class="jogo">
        <canvas id="canvas" width="1000rem" height="1000rem" style="background-color:#333"></canvas>
    </div>
</div>

<script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous">
</script>

</script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js">

<script type="text/javascript" src="/src/questoesM.js"></script>

<script type="text/javascript" src="/src/game/start.js"></script>