
<link rel="stylesheet" href="/css/base.css">
<%- include('header'); %>

<div id="listaPerguntas">
    <ul>

        <% if(vip === "Sim"){ %>
        
            <li>
                <a href="/jogoV3/singleplayer">VIP - JOGAR SOZINHO</a>
            </li>

        <% } %>
        
            
        <% if(vip === "Não"){ %>
            <li>
                <a href="/pagamento/">COMPRAR PASSE VIP</a>
            </li>
        <% } %>

        <li>
            <a href="/game/">GRÁTIS - Multiplayer (2 Jogadores)</a>
        </li>

        <% if(vip === "Sim"){ %>
            <li>
                <a href="/pagamento/">Cancelar Passe VIP</a>
            </li>
        <% } %>

        <li>
            <a href="/regras/">REGRAS</a>
        </li>

        <li>
            <a href="/">SAIR</a>
        </li>

    </ul>
</div> 
