<html>
    <body>
        <h1>Olá <%=nomeJogador%>, Bem Vindo!</h1>
        <p>Status do Jogador: VIP ou NÃO? (Tem que trazer essa info do BD)</p>
        <hr>
        <a href="/jogoV3/">Voltar ao Pré-lobby</a>
        <h2>Regras do Jogo</h2>
        <p>Quest é o jogo de perguntas e respostas da FATEC! O volume 3 traz novas perguntas, totalmente atualizadas e novos modos de jogo.
            São várias perguntas, divididas em 6 temas diferentes: sociedade, artes e entretenimento, variedades, ciência e tecnologia, mundo e esportes.
            Antes de responder a cada pergunta, você deve apostar a quantidade de pontos que deseja andar no tabuleiro se acertar. Tem certeza de que sabe a resposta? Então aposte alto! Está na dúvida? Pense bem o quanto vale a pena arriscar!
            As perguntas foram desenvolvidas com o cuidado de abordar os mais diferentes assuntos, modernos e históricos, com níveis de dificuldade progressivos e bem balanceados. Além de testar seus conhecimentos, você também aprende de uma forma leve e divertida.
            
            Chame seus amigos e descubra por que Quest é o jogo de perguntas e respostas definitivo!
            Conteúdo atualizado e totalmente diferente das outras versões do Quest.</p>
    </body>
</html>