
<h2>Você é VIP!</h2>

<p>
    Exibir aqui os dados da compra do passe VIP....
</p>

<hr>

<h2>Cancelamento - VIP</h2>

<p>
    Para cancelar seu Passe VIP, basta clicar em "Desabilitar cobrança recorrente".     
</p>
<input type="button" value="desabilitar cobrança recorrente" onclick="gerenciar()">
<br><br>

