<h2>Polítia de Cancelamento</h2>

<p>
    Você poderá desfrutar do seu Passe VIP até o último dia do mês em que desabilitar a cobrança recorrente.
    Após essa data será necessário comprar um novo Passe VIP, caso tenha interesse.
    Importante: Pode haver cobrança ainda no primeiro mês após o cancelamento, a depender da data de vencimento da fatura e do cancelamento.
</p>