<h2>Polítia de Cancelamento</h2>
<p>
    <strong>
        Os passes são cobrados mensalmente na fatura do seu cartão de crédito e a renovação é automática.
    </strong>
</p>
<p>
    Você poderá desfrutar do seu Passe VIP até o último dia do mês em que desabilitar a cobrança recorrente.
    Após essa data será necessário comprar um novo Passe VIP, caso tenha interesse.
    Importante: Pode haver cobrança ainda no primeiro mês após o cancelamento, a depender da data de vencimento da fatura e do cancelamento.
</p>